@import '../styles/theme.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #050505;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: transparent;
  padding: 0;
  margin: 0;

  color: var(--color-text-primary);
  font-family: 'Manrope', system-ui, sans-serif;
  min-height: 100vh;
}



@keyframes bg-pulse {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 0 0, 0 0, 5% 5%, -5% 5%, 5% -5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}